.homeDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  padding-top: 5vh;
}

.homeIconBlock {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media screen and (max-device-width: 1000px) and (-webkit-min-device-pixel-ratio: 1) {
  .homeDiv {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    align-items: center;
    padding: 0;
    height: 50vh;
    background-color: #bc7554;
  }
  .homeIconBlock {
    display: none;
  }
  img {
    height: 50vh;
    padding-top: 15vh;
  }
}
