.productsDetailTitle {
  display: flex;
  justify-content: flex-start;
  padding-top: 10vh;
  padding-left: 10vh;
}
.productDetailMain {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10vh;
  gap: 5vw;
}

.textBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
}
img {
  border-radius: 8px;
}

.twoButtons {
  display: flex;
  gap: 10vw;
}

h1 {
  font-size: 30px;
  margin: 0;
}
h2 {
  font-size: 20px;
  margin: 0;
}

p {
  font-size: 17px;
  width: 80%;
}
@media screen and (max-device-width: 1000px) and (-webkit-min-device-pixel-ratio: 1) {
  .productDetailMain {
    flex-direction: column;
    padding: 0;
  }
  .productsDetailTitle {
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
  .textBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 3vh;
    padding-left: 0;
    gap: 2vh;
  }

  img {
    align-self: center;
    width: 300px;
    padding: 0;
    border-radius: 8px;
  }

  button.signedIN {
    width: 125px;
    padding: 2vh;
    font-size: 3vh;
    align-self: center;
  }

  .twoButtons {
    gap: 5vw;
  }
}
