h2 {
  font-size: 20px;
}

.productsMain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 5vh;
  padding-top: 10vh;
  padding-bottom: 0vh;
  padding-left: 10vw;
  padding-right: 10vw;
}

.productsBody {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
  padding: 5vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
}
