.createForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
  gap: 3vh;
}

button.createScreenButton {
  width: 125px;
  padding: 1vh;
  font-size: 23px;
  align-self: center;
}
